.dishes-section {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 82px;
  }
}
.dishes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.dishes-section__title {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 500;
  padding: 136px 0px 86px 152px;
}
.tomatoes-png {
  position: absolute;
}
.perets-png {
  position: absolute;
  left: 64%;
  transform: translate(100%, 50%);
  width: 140px;
  height: 148px;
}
.button-slider-next {
  width: 60px;
  height: 60px;
  fill: #971e1e;
}

.slide-button-next {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.slide-button-prev {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.button-slider-prev {
  width: 60px;
  height: 60px;
  fill: #971e1e;
}
