.hero-section {
  position: relative;

  width: 100%;
  height: 100vh;

  background-image: url('../images/bg-1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;

    width: 100%;
    height: 100%;
    // max-width: 700px;
    padding-top: calc(71px + 105px);
    padding: 176px 62px 0px 62px;
  }

  &__title {
    text-align: center;

    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
  }

  &__container {
    width: 100%;
    padding-left: 52px;
    display: inline-block;
  }

  &__input {
    width: 521px;
    height: 62px;
    border-radius: 10px;
    border: none;
    background: #fffefe;
    padding-left: 20px;
    padding-right: 155px;
    color: #75797f;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  &__button {
    position: relative;
    right: 178px;
    top: 7px;
    width: 174px;
    height: 54px;
    border-radius: 50px 0px 10px 0px;
    background: #fe043c;
    border: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
      background-color: #75797f;
      transition: background-color 1s;
      cursor: pointer;
    }
  }
  &__location-container {
    margin-top: 20px;
    width: 170px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: rgba(217, 217, 217, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text-container {
    flex-grow: 1;
  }
  &__icon-nav-pointer {
    width: 18px;
    height: 25px;
    margin: 8px 12px;
    fill: #fff;
  }
  &__location-text-1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
  }
  &__location-text-2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__icon-nav-arrow {
    width: 10px;
    height: 6px;
    margin: 8px 12px;
    fill: #fff;
    &:hover {
      cursor: pointer;
    }
  }
  .slide-button-next {
    position: absolute;
    right: 32px;
    top: 47%;

    transform: translate(-50%, 50%);
  }
}
